<div style="height: 8px; background-image: linear-gradient(#fff, #333);">
</div>
<div class="py-3">
  <div class="container text-center" style="width: 85%">
    <a href="{{ site.baseurl }}/team"><span class="rgb-light">Our Team</span></a>
    <span class="rgb-light">&nbsp;|&nbsp;</span>
    <a href="{{ site.baseurl }}/projects"><span class="rgb-light">Projects</span></a>
    <span class="rgb-light">&nbsp;|&nbsp;</span>
    <a href="{{ site.baseurl }}/blog"><span class="rgb-light">Development Blog</span></a>
    <span class="rgb-light">&nbsp;|&nbsp;</span>
    <a href="{{ site.baseurl }}/contact"><span class="rgb-light">Contact/Support</span></a>
    <br class="mb-2">
    <a href="{{ site.baseurl }}">
      <img src="{{ site.baseurl }}/&images/rgb/rgb-logo.svg" style="height: 32px">
      <span class="rgb-light" style="font-size: 20px">&nbsp;RGB Studios.org</span>
    </a>
    <br class="mb-1">
  </div>
</div>
